.tabs {
	--tabsBodyRowGap: 0;
	--tabsNonActiveContentDisplay: none;

	&--enabled-only-on-mobile {
		@include mobile-above {
			--tabsNavigationDisplay: none;
			--tabsNonActiveContentDisplay: block;
		}
	}

	&__body {
		display: grid;
		row-gap: var(--tabsBodyRowGap);
	}

	&__content {
		&:not(.is-active) {
			display: var(--tabsNonActiveContentDisplay);
		}
	}
}