.tabs {
	--tabsNonActiveContentDisplay: none;

	&--enabled-only-on-mobile {
		@include mobile-above {
			--tabsNavigationDisplay: none;
			--tabsNonActiveContentDisplay: block;
		}
	}

	&__content {
		&:not(.is-active) {
			display: var(--tabsNonActiveContentDisplay);
		}
	}
}