.button {
	display: inline-flex;
	align-items: center;
	column-gap: 0.3em;
	padding: fluid-to-laptop(18, 14) fluid-to-laptop(24, 20);
	color: var(--color-black);
	background-color: var(--color-white);
	border: var(--border);
	border-radius: var(--border-radius-m);

	@include hover {
		color: var(--color-white);
		background-color: var(--color-accent);
	}
}