.hero {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	text-align: center;

	@include mobile {
		min-height: 639px;
	}

	&__pano {
		--heroGradientColorStart: var(--color-black-08);
		--heroGradientColorEnd: rgb(20 20 20 / 0);
		--heroGradientHeight: 67.5%;

		--heroGradientTop: linear-gradient(to bottom,
				var(--heroGradientColorStart) 0%,
				var(--heroGradientColorEnd) 100%) 50% 0/100% var(--heroGradientHeight);
		--heroGradientBottom: linear-gradient(to top,
				var(--heroGradientColorStart) 0%,
				var(--heroGradientColorEnd) 100%) 50% 100%/100% var(--heroGradientHeight);

		@include flex-center;
		flex-grow: 1;
		background:
			var(--heroGradientTop),
			var(--heroGradientBottom),
			url('../../assets/images/hero/bg.png') 50%/cover;
		background-repeat: no-repeat;

	}

	&__play-button {
		padding: 0;
		background-color: transparent;
		border: none;
	}

	&__title {
		margin-top: -0.5em;
		margin-bottom: fluid-to-laptop(14, 10);
	}
}