.hero {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	text-align: center;

	@include mobile {
		min-height: 639px;
	}

	&__pano {
		@include flex-center;
		flex-grow: 1;
		background: url('../../assets/images/hero/bg.png');
	}

	&__play-button {
		padding: 0;
		background-color: transparent;
		border: none;
	}
}