.hero {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	text-align: center;

	@include mobile {
		min-height: 639px;
	}

	&__pano {
		flex-grow: 1;
	}

	&__play-button {
		padding: 0;
		background-color: transparent;
		border: none;
	}
}